<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <!--<connectionStrings>   
    --><!-- For Visual Studio 2013 / SQL Express Local DB 2012 replace the above with this setting--><!--
    <add name="MS_TableConnectionString" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-lazyroommateService-20161123085155.mdf;Initial Catalog=aspnet-lazyroommateService-20161123085155;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />       
  </connectionStrings>-->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
